#title {
  background-color: #000;
  color: #fff;
  display: grid;
  height: 30rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.top-image {
  display: flex;
  flex-wrap: nowrap;
  
  
  grid-area: 1/2/2/2;
  align-self: center;
  text-align: center;
  
}
.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
div {
  display: block;
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
nav {
  grid-area: 1/4/1/5;
  text-align: end;
  align-self: center;
  text-align: center;
  margin: 0 20rem 0 5rem;
  background-color: #000;
}
h1 {
  font-family: "Oswald";
  font-size: 5rem;
  line-height: 1.5;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  margin: 2rem;
  text-align: center;
  font-family: "oswald";
  font-weight: bold;
}
body {
  margin: 0;
  
}
#features {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 10rem;
  margin: 5rem;
  text-align: center;
}
#feedbacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f0efef;
  text-align: center;
}
#partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  background-color: #f0efef;
  margin-top: 0;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}
p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 